
.inline-boxed-network {
    width: 60vh;
    height: 60vh;
    border: 2px solid #ccc; 
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tooltip {
    position: absolute;
    text-align: center;
    font-family: "Inter", sans-serif;
    width: auto;
    height: auto;
    padding: 8px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    border-radius: 4px;
    pointer-events: none; /* Let mouse events pass through */
    visibility: hidden; /* Hidden by default */
    z-index: 10;
}

#network-graph {
    width: 60vh;
    height: 60vh;
    border: 2px solid #ccc; 
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
  }